{% extends "base.html" %}


{% block content %}
<h1>Update Article</h1>

<form action="{% url 'products:update' article.pk %}" method="POST">
    {% csrf_token %}

    <label for="title">제목</label>
    <input type="text" name="title" id="title" value={{ article.title }}><br><br>

    <label for="content">내용</label>
    <textarea name="content" id="content" cols="30" rows="10">{{ article.content }}</textarea><br><br>

    <button type="submit">수정</button>
</form>

{% endblock content %}
